{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

<pre><code>&lt;style type="text/css"&gt;
<span class="text-break"
     data-edit-content-target="css"
     data-edit-content-escape="true"
     data-edit-content-validate="css"
>{{ form.css.vars.data|default('') }}</span>
&lt;/style&gt;</code></pre>
