{{ sfs_cms_admin_module_accordion_block_start(form, accordion, 'code', true) }}
<div class="col-12">
    {{ form_row(form.css, {'attr': {'style': 'min-height: 400px'}}) }}
</div>
{{ sfs_cms_admin_module_accordion_block_end() }}