services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $em: '@sfs_cms.entity_manager'
            $blockTypes: [] # '%sfs_cms.block.types%'
            $formFactory: '@form.factory'
#            $siteType: '' # '%sfs_cms.site.type%'
            $enabledLocales: '%kernel.enabled_locales%'
            $defaultLocale: '%kernel.default_locale%'
            $container: '@service_container'
            $esi: '@?esi'
            $siteConfig: '%sfs_cms.site_config%'
            $profiler: '@?profiler'
            $transformers: !tagged_iterator { tag: sfs_cms.data_transformer, default_priority_method: getPriority }
            $cmsLogger: '@?monolog.logger.cms'
            $debug: '%kernel.debug%'

    Softspring\CmsBundle\Config\CmsConfig:
        arguments:
            $modules: '%sfs_cms.modules%'
            $layouts: '%sfs_cms.layouts%'
            $contents: '%sfs_cms.contents%'
            $menus: '%sfs_cms.menus%'
            $blocks: '%sfs_cms.blocks%'
            $sites: '%sfs_cms.sites%'

    Softspring\CmsBundle\Command\:
        resource: '../../src/Command/*'

    Softspring\CmsBundle\Controller\:
        resource: '../../src/Controller/*'
        public: true

    Softspring\CmsBundle\DataFixtures\:
        resource: '../../src/DataFixtures/*'
        tags: ['doctrine.fixtures.loader']

    Softspring\CmsBundle\Form\Admin\:
        resource: '../../src/Form/Admin/*'
        tags: ['form.type']

    Softspring\CmsBundle\Form\Module\:
        resource: '../../src/Form/Module/*'
        tags: ['form.type']

    Softspring\CmsBundle\Form\Type\:
        resource: '../../src/Form/Type/*'
        tags: ['form.type']

    Softspring\CmsBundle\Form\Extension\:
        resource: '../../src/Form/Extension/*'
        tags: ['form.extension']

#    Softspring\CmsBundle\EventListener\:
#        resource: '../../src/EventListener/*'

    Softspring\CmsBundle\EventListener\SiteResolverListener: ~

    Softspring\CmsBundle\EventListener\ErrorPageListener: ~

    Softspring\CmsBundle\Data\:
        resource: '../../src/Data/*'

    Softspring\CmsBundle\Manager\:
        resource: '../../src/Manager/*'

    Softspring\CmsBundle\Routing\:
        resource: '../../src/Routing/*'
        
    Softspring\CmsBundle\Routing\CmsRouter:
        decorates: 'router.default'
        arguments: [ '@.inner' ]

    Softspring\CmsBundle\Render\:
        resource: '../../src/Render/*'

    Softspring\CmsBundle\Request\ParamConverter\:
        resource: '../../src/Request/ParamConverter/*'
        tags: ['request.param_converter']

    sfs_cms.twig.extension.loader:
        class: Twig\Extension\StringLoaderExtension
        tags: ['twig.extension']

    Softspring\CmsBundle\Twig\Extension\:
        resource: '../../src/Twig/Extension/*'
        tags: ['twig.extension']

    Softspring\CmsBundle\EntityListener\BlockListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: 'postLoad', entity: 'Softspring\CmsBundle\Entity\Block',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'Softspring\CmsBundle\Entity\Block',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'Softspring\CmsBundle\Entity\Block',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }

    Softspring\CmsBundle\EntityListener\ContentListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: 'postLoad', entity: 'Softspring\CmsBundle\Entity\Content',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'Softspring\CmsBundle\Entity\Content',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'Softspring\CmsBundle\Entity\Content',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }

    Softspring\CmsBundle\EntityListener\ContentVersionListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: 'postLoad', entity: 'Softspring\CmsBundle\Entity\ContentVersion',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'Softspring\CmsBundle\Entity\ContentVersion',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'Softspring\CmsBundle\Entity\ContentVersion',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }

    Softspring\CmsBundle\EntityListener\ContentDiscriminatorMapListener:
        tags: ['doctrine.event_subscriber']
