services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $em: '@sfs_cms.entity_manager'
            $blockTypes: [] # '%sfs_cms.block.types%'
            $formFactory: '@form.factory'
#            $siteType: '' # '%sfs_cms.site.type%'
            $enabledLocales: '%kernel.enabled_locales%'
            $defaultLocale: '%kernel.default_locale%'
            $container: '@service_container'
            $esi: '@?esi'
            $siteConfig: '%sfs_cms.site_config%'

    Softspring\CmsBundle\Config\CmsConfig:
        arguments:
            $modules: '%sfs_cms.modules%'
            $layouts: '%sfs_cms.layouts%'
            $contents: '%sfs_cms.contents%'
            $menus: '%sfs_cms.menus%'
            $blocks: '%sfs_cms.blocks%'
            $sites: '%sfs_cms.sites%'

    Softspring\CmsBundle\Command\:
        resource: '../../src/Command/*'

    Softspring\CmsBundle\Controller\:
        resource: '../../src/Controller/*'
        public: true

    Softspring\CmsBundle\DataFixtures\:
        resource: '../../src/DataFixtures/*'
        tags: ['doctrine.fixtures.loader']

    Softspring\CmsBundle\Form\:
        resource: '../../src/Form/*'
        tags: ['form.type']

    Softspring\CmsBundle\Form\Module\ModuleCollectionType:
        tags: ['form.type']

#    Softspring\CmsBundle\EventListener\:
#        resource: '../../src/EventListener/*'

    Softspring\CmsBundle\EventListener\RouteResolverListener: ~

    Softspring\CmsBundle\EventListener\ErrorPageListener: ~

    Softspring\CmsBundle\Manager\:
        resource: '../../src/Manager/*'

    Softspring\CmsBundle\Router\:
        resource: '../../src/Router/*'

    Softspring\CmsBundle\Render\:
        resource: '../../src/Render/*'

    Softspring\CmsBundle\Request\ParamConverter\:
        resource: '../../src/Request/ParamConverter/*'
        tags: ['request.param_converter']

    sfs_cms.twig.extension.loader:
        class: Twig\Extension\StringLoaderExtension
        tags: ['twig.extension']

    Softspring\CmsBundle\Twig\Extension\:
        resource: '../../src/Twig/Extension/*'
        tags: ['twig.extension']

    Softspring\CmsBundle\EntityListener\ContentListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: 'postLoad', entity: 'Softspring\CmsBundle\Entity\Content',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'Softspring\CmsBundle\Entity\Content',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'Softspring\CmsBundle\Entity\Content',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }

    Softspring\CmsBundle\EntityListener\ContentVersionListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: 'postLoad', entity: 'Softspring\CmsBundle\Entity\ContentVersion',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'Softspring\CmsBundle\Entity\ContentVersion',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'Softspring\CmsBundle\Entity\ContentVersion',  priority: 10 } #, entity_manager: '%sfs_cms.entity_manager_name%' }

    Softspring\CmsBundle\EntityListener\ContentDiscriminatorMapListener:
        tags: ['doctrine.event_subscriber']
