parameters:
    ignoreErrors:
        -
            message: "#Anonymous function never returns null so it can be removed from the return type.#"
            count: 1
            path: src/Form\Type/SymfonyRouteType.php
        -
            message: "#Empty array passed to foreach.#"
            path: src/Form/Module/ModuleCollectionType.php
            reportUnmatched: false # ignore error on newer-versions
        -
            message: "#Class Softspring\\\\CmsBundle\\\\DataCollector\\\\TwigDataCollector extends @final class Symfony\\\\Bridge\\\\Twig\\\\DataCollector\\\\TwigDataCollector.#"
            count: 1
            path: src/DataCollector/TwigDataCollector.php
        -
            message: "#Call to an undefined method .*::method\\(\\)#"
            path: tests
        -
            message: "##"
            path: src/DataFixtures/Purger/CmsPurger.php
        -
            message: "#Function twig_template_from_string not found.#"
            reportUnmatched: false
