<div style="{{ form.bg_color.vars.data ? 'background-color:'~form.bg_color.vars.data : '' }}">
    <div class="container border border-2 module-container">
        {{ form_row(form.modules, {'container': {
            'attr': {
                'id': form.id.vars.data,
                'class': 'py-5 '~form.class.vars.data|default(''),
                'data-edit-id-target': 'containerIdDiv',
                'data-edit-class-target': 'containerClassDiv',
                'data-edit-class-default': 'p-2',
                'data-edit-bgcolor-target': 'containerColorDiv'
            }
        }}) }}
    </div>
</div>
