<div style="{{ bg_color|default(false) ? 'background-color:'~bg_color : '' }}">
    <div class="container-module container {{ class|default('') }}" id="{{ id|default('') }}">
    {% for content in contents %}
        {{ content|raw }}
    {% endfor %}
    </div>
</div>
