<pre><code><span id="{{ form.id.vars.data|default('') }}" class="text-dark text-monospace content-escape"
     data-edit-content-target="code"
     data-edit-content-escape="true"
>{{ form.code.vars.data|default('') }}</span></code></pre>
