{% trans_default_domain 'sfs_cms_modules' %}
{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

<pre><code><span class="text-dark text-monospace content-escape"
     data-edit-content-target="code"
     data-edit-content-escape="true"
     data-edit-content-validate="html"
     data-edit-content-placeholder="{{ 'html_headers.form.code.preview.placeholder'|trans }}"
>{{ form.code.vars.data|default('') }}</span></code></pre>
