{% trans_default_domain 'sfs_cms_modules' %}
{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

<div {{ module.link_id(form.id) }} {{ module.link_class(form.class, 'text-break content-escape') }}
    data-edit-content-target="code"
    data-edit-content-validate="html"
    data-edit-content-placeholder="{{ 'html.form.code.placeholder'|trans }}"
>
    {{ form.code.vars.data|default()|replace({'href': 'href-invalidate'})|raw }}
</div>
