{% embed '@SfsCms/forms/modules_form_block.html.twig' with { 'name': 'attributes', 'accordion': accordion } %}
    {% block form %}
        <div class="row">
            <div class="col-12">
                {{ form_row(form.id) }}
            </div>
            <div class="col-12">
                {{ form_row(form.class) }}
            </div>
        </div>
    {% endblock %}
{% endembed %}

{% embed '@SfsCms/forms/modules_form_block.html.twig' with { 'name': 'code', 'accordion': accordion, 'open': true } %}
    {% block form %}
        <div class="row">
            <div class="col-12">
                {{ form_row(form.code, {'attr': {'style': 'min-height: 400px'}}) }}
            </div>
        </div>
    {% endblock %}
{% endembed %}