.tox-notifications-container {
    display: none;
}

.cms-content-header {
    display: flex;
    align-items: center;
    min-height: 75px;
}

.cms-content-main{
    margin-top: 27px;
}


.row {
    & > .insert-module {
        display: none;
    }
}

.insert-module {
    display: none;
    //height: 4px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,.8);
    background-color: $gray-500;
    z-index: 1000;

    &:hover {
        z-index: 1001;

        &:before {
            opacity: 1;
        }
    }

    &:before {
        content: '+';
        display: block;
        width: 25px;
        height: 25px;
        margin: -12px auto 0;
        font-size: 30px;
        line-height: 25px;
        text-align: center;
        color: white;
        border-radius: 4px;
        border: 1px solid rgba(255,255,255,.8);
        background-color: $primary;
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }
}

[data-polymorphic=collection]:hover > .row {
    & > .insert-module {
        display: block;
        margin-top: -4px;
        height: 4px;

        //&:before {
        //    margin-top: -8px;
        //    margin-left: -10px;
        //    position: relative;
        //    left: 50%;
        //}

        &.selected,
        &:hover {
            background-color: $primary;
            color: white;

            &:before {
                background-color: $primary;
            }
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }
}

.insert-module-at-the-end.col,
.insert-module-at-the-end[class^='col-'],
.insert-module-at-the-end[class*=' col-'] {
    padding: 0;
    flex: 0 0 16px;
    height: 100%;
    min-height: 200px;

    &:first-child {
        margin-left: 40px;
    }
}

[data-polymorphic=collection] {
    min-height: 50px;
}
[data-polymorphic=collection]:hover > .col,
[data-polymorphic=collection]:hover + .insert-module-at-the-end.col
[data-polymorphic=collection]:hover > [class*=' col-'],
[data-polymorphic=collection]:hover + .insert-module-at-the-end[class*=' col-'],
[data-polymorphic=collection]:hover > [class^='col-'],
[data-polymorphic=collection]:hover + .insert-module-at-the-end[class^='col-'] {
    position: relative;

    &:not(.insert-module-at-the-end):first-child {
        margin-left: 10px;
    }

    & > .insert-module {
        position: absolute;
        display: block;
        margin-top: 10px;
        margin-left: calc(var(--bs-gutter-x) * -0.5);
        width: 4px;
        height: calc(100% - 20px);
        min-height: 50px;

        &:before {
            margin-top: -12px;
            margin-left: -12px;
            position: relative;
            top: 50%;
        }
    }

    & > .insert-module.selected,
    & > .insert-module:hover {
        background-color: $primary;
        color: white;

        &:before {
            background-color: $primary;
        }
    }

    & > .insert-module:last-child {
    }
}

[data-polymorphic=collection] + .insert-module-at-the-end.col,
[data-polymorphic=collection]:hover + .insert-module-at-the-end.col {
    margin-left: 0;
}

.cms-module {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 2px dashed transparent;
    margin-top: -2px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 50px;

    .cms-module-form {
        display: none;

        .tox.tox-tinymce.tox-fullscreen {
            top: 80px !important;
            height: calc(100vh - 80px) !important;
        }

        .input-group-prepend {
            .input-group-text {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 100%;
            }
        }
    }

    .cms-module-header {
        display: none;
    }

    &.active>.cms-module-header,
    &:hover>.cms-module-header {
        display: block;
        width: 130px;
        height: 34px;
        position: absolute;
        right: 0px;
        border-radius: 4px;
        z-index: 999;

        .cms-module-buttons {
            position: absolute;
            right: 15px;
            top: 0;
            display: flex;
            align-items: center;

            button {
                padding: 0.25em 0.25em 0;
                border: none;
                background-color: transparent;

                &:hover {
                    color: black;
                }
                .bi {
                    font-size: 24px;
                }
            }
        }
    }

    &:hover {
        border: 2px dashed #d2d2d2;

        .cms-module-header {
            background-color: #d2d2d270;
        }
    }

    &.active {
        border: 2px dashed #5d5d5d;

        .cms-module-header {
            background-color: #5d5d5d70;
        }

        > .cms-module-body > .cms-module-edit > .cms-module-form {
            display: block;
            position: fixed;
            right: 0;
            top: 75px;
            width: 300px;
            height: calc(100vh - 76px);
            overflow-y: auto;
            background-color: white;
            box-shadow: -5px 0px 10px 1px rgba(0, 0, 0, .2);
            z-index: 1000;
        }
    }

    &.cms-module-deprecated {
        border-color: rgba(var(--bs-warning-rgb), 0.5) !important;

        &:hover {
            border-color: rgba(var(--bs-warning-rgb), 0.8) !important;

            .cms-module-header {
                background-color: rgba(var(--bs-warning-rgb), 0.5) !important;
            }
        }

        &.active {
            border-color: rgba(var(--bs-warning-rgb), 1) !important;

            .cms-module-header {
                background-color: rgba(var(--bs-warning-rgb), 0.7) !important;
            }
        }
    }

    .cms-module-locale-hidden {
        position: relative;
        pointer-events: none;
        filter: grayscale(100%);
        opacity: .5;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, .5);
        }
    }

    .content-escape {
        word-break: break-word;
    }

    .textarea-lg {
        height: 200px;
    }

    .module-container {
        border-width: 1px !important;
        border-style: dashed !important;
        min-height: 50px;
    }
}

.add-module-modal {
    /* Important part */
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        height: 80vh;
        overflow-y: auto;

        .module-thumbnail {
            width: 100%;
            height: 120px;
            cursor: pointer;
            border-radius: 5px;
            border: 2px solid $secondary;
            transition: all .3s ease-in-out;

            .icon {
                height: 50px;
                width: 50px;
                margin: 15px auto;
                text-align: center;
                transition: all .3s ease-in-out;

                .bi {
                    font-size: 50px;
                    line-height: 50px;
                }
            }

            .name {
                color: $secondary;
                text-align: center;
                transition: all .3s ease-in-out;
            }

            &:hover {
                border-color: $primary;

                .icon {
                    color: $primary;
                }
                .name {
                    color: $primary;
                }
            }
        }
    }
}

#content-form {
    width: 300px;
    flex-shrink: 0;
}

[data-edit-content-placeholder]:empty::after {
    content: attr(data-edit-content-placeholder);
    opacity: 0.5;
    font-style: italic;
}

[data-edit-content-target] {
    margin-right: 5px;
    margin-left: 5px;
    transition: box-shadow .3s ease-in-out;

    &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, .1);

        &:not(.btn) {
            border-radius: 5px;
        }
    }
}
.modal-body, .content-escape {
    [data-edit-content-target] {
        &:hover {
            box-shadow: none;
        }
    }

}
.collection-node-index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #f1f1f1;
}
