.tox-notifications-container {
    display: none;
}

.cms-content-header {
    display: flex;
    align-items: center;
    min-height: 75px;
}

.cms-content-main{
    margin-top: 27px;
}


.row {
    & > .insert-module {
        display: block;
        font-size: 12px;
        border: 1px dashed transparent;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        line-height: 100px;

        height: 5px;
        transition: height 200ms linear 200ms;
    }

    & > .insert-module.selected,
    & > .insert-module:hover {
        border: 1px dashed $primary;
        background-color: $primary;
        color: white;

        height: 100px;
        transition: height 200ms linear 200ms;
    }

    & > .insert-module:last-child {
        height: 100px;
        line-height: 100px;
        border: 1px dashed gray;
        color: gray;
        margin-top: 20px;
    }
}

.col {
    & > .insert-module {
        position: relative;
        display: flex;
        flex-direction: column;

        font-size: 12px;
        border: 1px dashed transparent;
        text-align: center;
        cursor: pointer;
        overflow: hidden;

        width: 5px;
        transition: width 200ms linear 200ms;
    }

    & > .insert-module.selected,
    & > .insert-module:hover {
        border: 1px dashed $primary;
        background-color: $primary;
        color: white;

        width: 100px;
        transition: width 200ms linear 200ms;
    }

    & > .insert-module:last-child {
        width: 100px;
        border: 1px dashed gray;
        color: gray;
    }
}

//[data-module-row-class=col] {
//    & > .col .insert-module {
//        height: 100%;
//        width: 20px;
//    }
//}

.cms-module {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 2px dashed transparent;
    margin-top: -2px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 50px;

    .cms-module-form {
        display: none;

        .tox.tox-tinymce.tox-fullscreen {
            top: 80px !important;
            height: calc(100vh - 80px) !important;
        }

        .input-group-prepend {
            .input-group-text {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 100%;
            }
        }
    }

    .cms-module-header {
        display: none;
    }

    &.active>.cms-module-header,
    &:hover>.cms-module-header {
        display: block;
        width: 130px;
        height: 34px;
        position: absolute;
        right: 0px;
        border-radius: 4px;
        z-index: 999;

        .cms-module-buttons {
            position: absolute;
            right: 15px;
            top: 0;
            display: flex;
            align-items: center;

            button {
                padding: 0.25em 0.25em 0;
                border: none;
                background-color: transparent;

                &:hover {
                    color: black;
                }
                .bi {
                    font-size: 24px;
                }
            }
        }
    }

    &:hover {
        border: 2px dashed #d2d2d2;

        .cms-module-header {
            background-color: #d2d2d270;
        }
    }

    &.active {
        border: 2px dashed #5d5d5d;

        .cms-module-header {
            background-color: #5d5d5d70;
        }

        > .cms-module-body > .cms-module-edit > .cms-module-form {
            display: block;
            position: fixed;
            right: 0;
            top: 75px;
            width: 300px;
            height: calc(100vh - 76px);
            overflow-y: auto;
            background-color: white;
            box-shadow: -5px 0px 10px 1px rgba(0, 0, 0, .2);
            z-index: 1000;
        }
    }

    &.cms-module-deprecated {
        border-color: rgba(var(--bs-warning-rgb), 0.5) !important;

        &:hover {
            border-color: rgba(var(--bs-warning-rgb), 0.8) !important;

            .cms-module-header {
                background-color: rgba(var(--bs-warning-rgb), 0.5) !important;
            }
        }

        &.active {
            border-color: rgba(var(--bs-warning-rgb), 1) !important;

            .cms-module-header {
                background-color: rgba(var(--bs-warning-rgb), 0.7) !important;
            }
        }
    }

    .cms-module-locale-hidden {
        position: relative;
        pointer-events: none;
        filter: grayscale(100%);
        opacity: .5;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, .5);
        }
    }

    .content-escape {
        word-break: break-word;
    }

    .textarea-lg {
        height: 200px;
    }

    .module-container {
        border-width: 1px !important;
        border-style: dashed !important;
        min-height: 300px;
    }
}

.add-module-modal {
    /* Important part */
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        height: 80vh;
        overflow-y: auto;

        .module-thumbnail {
            width: 100%;
            height: 120px;
            border: 1px solid $secondary;

            .icon {
                height: 50px;
                width: 50px;
                margin: 20px auto;
                text-align: center;

                .bi {
                    font-size: 50px;
                    line-height: 50px;
                }
            }

            .name {
                color: $secondary;
                text-align: center;
            }

            &:hover {
                border-color: $primary;

                .icon {
                    color: $primary;
                }
                .name {
                    color: $primary;
                }
            }
        }
    }
}

#content-form {
    width: 300px;
    flex-shrink: 0;
}

[data-edit-content-placeholder]:empty::after {
    content: attr(data-edit-content-placeholder);
    opacity: 0.5;
    font-style: italic;
}

[data-edit-content-target] {
    margin-right: 5px;
    margin-left: 5px;
    transition: box-shadow .3s ease-in-out;

    &:hover {
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
}
.modal-body, .content-escape {
    [data-edit-content-target] {
        &:hover {
            box-shadow: none;
        }
    }

}
.collection-node-index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #f1f1f1;
}
