.tox-notifications-container {
    display: none;
}

.cms-content-header {
    display: flex;
    align-items: center;
    min-height: 75px;
}

.cms-content-main{
    margin-top: 27px;
}
.module-polymorphic-collection {
    .polymorphic-node-row {
        margin: 40px 0;
    }
}

.cms-module {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 2px dashed #fefefe;

    .cms-module-form {
        display: none;

        .tox.tox-tinymce.tox-fullscreen {
            top: 80px !important;
            height: calc(100vh - 80px) !important;
        }

        .input-group-prepend {
            .input-group-text {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 100%;
            }
        }
    }

    .cms-module-header {
        display: block;
        width: 100%;
        height: 30px;
        position: absolute;
        top: -35px;

        .cms-module-buttons {
            position: absolute;
            right: 15px;
            top: 0;
            display: flex;
            align-items: center;

            button {
                padding: 0.25em 0.25em 0;
                border: none;
                background-color: transparent;

                &:hover {
                    color: black;
                }
                .bi {
                    font-size: 24px;
                }
            }
        }
    }

    &:hover {
        border: 2px dashed black;
    }

    &.active {
        border: 2px dashed green;

        > .cms-module-body > .cms-module-edit > .cms-module-form {
            display: block;
            position: fixed;
            right: 0;
            top: 75px;
            width: 312px;
            height: calc(100vh - 76px);
            overflow-y: auto;
            background-color: white;
            box-shadow: -5px 0px 10px 1px rgba(0, 0, 0, .2);
            z-index: 1000;
        }
    }

    .cms-module-locale-hidden {
        position: relative;
        pointer-events: none;
        filter: grayscale(100%);
        opacity: .5;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, .5);
        }
    }

    .content-escape {
        word-break: break-word;
    }

    .textarea-lg {
        height: 200px;
    }

    .module-container {
        border-style: dashed !important;
        min-height: 300px;
    }
}

#content-form {
    width: 300px;
    flex-shrink: 0;
}
