{% trans_default_domain 'sfs_cms_modules' %}
{% import '@SfsCms/macros/modules_edit.html.twig' as module %}

{% set defaultDivClass = 'text-break content-escape' %}
{% for locale,localeField in form.code %}
    <div {{ module.link_id(form.id) }} {{ module.link_class(form.class) }}
        {{ module.link_content(localeField, locale, false, 'html_translatable.form.code.preview.placeholder') }}
         data-edit-content-validate="html"
    >
        {{ localeField.vars.data|default()|replace({'href': 'href-invalidate'})|raw }}
    </div>
{% endfor %}
