{% if id|default(false) or class|default(false) %}<div id="{{ id|default('') }}" class="{{ class|default('') }}">{% endif %}
{{ code[app.request.locale]|default('')|raw }}
{% if id|default(false) or class|default(false) %}</div>{% endif %}