<div class="bg-white p-3 mb-3">
    {% block title %}{% if title is not empty %}<h4 class="border-bottom border-1 border-light pb-2 mb-3">{{ title }}</h4>{% endif %}{% endblock %}
    {% block content %}{% endblock %}
</div>