{% trans_default_domain 'sfs_cms_contents' %}

{% embed '@SfsCms/admin/_embeds/_card.html.twig' with {'title': ('admin_'~content_type~'.read.translations.title')|trans} %}
    {% trans_default_domain 'sfs_cms_contents' %}

    {% block content %}
        <p class="d-flex mb-2">
            <span class="pe-2">Default language</span>
            <strong>{{ entity.defaultLocale }}</strong>
        </p>
        <p class="d-flex mb-2">
            <span class="pe-2">Languages</span>
            <strong>{{ entity.locales|join(', ') }}</strong>
        </p>
    {% endblock %}
{% endembed %}